.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcc99;
  height: 100vh;
}

.calculator {
  background-color: #000;
  padding: 5px;
}

.display-screen {
  color: white;
  text-align: right;
  padding: 3px 0;
  margin-bottom: 5px;
}

.formula-screen {
  color: #ff9933;
  text-align: right;
  padding: 3px 0;
}

.buttons button {
  color: white;
  border: none;
  outline: none;
}

.buttons button:hover {
  border: 1px solid #fff;
  opacity: 0.85;
}

.buttons button:hover {
  cursor: pointer;
}

.number {
  background-color: #2f4858;
}

.equals {
  background-color: #3d9028;
  grid-area: 4/4/6/5;
}

.clear {
  background-color: #c35355;
  grid-area: 1/1/2/3;
}

.operator {
  background-color: #4b5881;
}

.zero {
  grid-area: 5/1/6/3;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 65px);
  grid-gap: 1px;
}
